* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.navigation {
  margin: 0;
}

.navigation__item {
  margin-right: 14px;
  float: left;
  list-style: none;
}

.content {
  display: flex;
  flex-grow: 1;
}

.dashboard {
  background-color: pink;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.news {
  background-color: grey;
  width: 200px;
  float: left;
}

.news h2 {
  text-align: center;
}

.news ul li {
  line-height: 40px;
  list-style: none;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}

.footer_text {
  margin: auto;
}
